/* this makes the backround black..duh */
body {
    background-color: black;
  }
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */



/* These make text white to look cool on the black backround */
h1 {
color: white;
}

p {
color: white;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */



/* this is a class that makes the text look cursive and fancy */
.cur {
    font-family: 'Brush Script MT', cursive;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */



/* this class makes title or menu things bigger and easier to click as well as easier to see */
.title {
    font-size: 40px;
    text-align: center;
}

/* BELOW IS THE THINGS FOR WHEN A LINK IS PRESSED TO KEEP IT WHITE AND NOT MAKE IT UGLY UNDERLINES PURPLE */
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: gray;
  background-color: transparent;
  text-decoration:none;
}

a:active {
  color: dimgray;
  background-color: transparent;
  text-decoration: none;
}

/* This class makes things centered */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* This is a single-line comment */
.dpad {
    padding-bottom: 100px;
}



/* This is a single-line comment */

.sticky {
  position: sticky;
  top: 0;




/* This is a single-line comment */





/* This is a single-line comment */






/* This is a single-line comment */






/* This is a single-line comment */
